Source: senia-cdd
Section: metapackages
Priority: extra
Maintainer: Angel Berlanas Vicente <angel.berlanas@gmail.com>
Build-Depends: debhelper (>= 9), unzip
Standards-Version: 3.9.7

Package: senia-backgrounds
Architecture: all
Depends: ${misc:Depends}
Description: senia wallpapers and settings
 Customized backgrounds for SENIA IES

