Source: senia-cdd
Section: metapackages
Priority: extra
Maintainer: Angel Berlanas Vicente <angel.berlanas@gmail.com>
Build-Depends: debhelper (>= 9), unzip
Standards-Version: 3.9.7

Package: senia-backgrounds
Architecture: all
Depends: ${misc:Depends}, mate-desktop-environment
Description: senia wallpapers and settings
 Customized backgrounds for SENIA IES

Package: senia-session-cleaner-for-mate
Architecture: all
Depends: ${misc:Depends}
Description: Senia-cdd session cleaner
 Disable all other sessions for Senia 

Package: senia-browsers-settings
Architecture: all
Depends: ${misc:Depends}
Description: Senia-cdd settings for browsers
 Enables always private browsing on firefox
 Settings custom web page

Package: senia-cdd
Architecture: all
Depends: ${misc:Depends},senia-backgrounds, senia-session-cleaner-for-mate, senia-browsers-settings
Description: IES La Senia CDD
 All the stuff

Package: senia-non-essential-tools
Architecture: all
Depends: ${misc:Depends},vim, python3-xlrd, ${python:Depends}
Description: But highly recommended
 IES La Senia development packages
