Source: senia-cdd
Section: metapackages
Priority: extra
Maintainer: Angel Berlanas Vicente <angel.berlanas@gmail.com>
Build-Depends: debhelper (>= 9), unzip
Standards-Version: 3.9.4

Package: senia-backgrounds
Architecture: all
Depends: ${misc:Depends}
Description: senia backgrounds
 Customized backgrounds for SENIA IES

